<!DOCTYPE html>
{% extends 'subscribe/base.html' %}
{% block body_block %}
{% load static %}

  <div class="featured">
    <img src="{% static "subscribe/featured.jpg" %}" alt="">
  </div>

  <div class="body">
    <div class="fav-container">

      <div class="fav-header">
        <a href="{% url 'subscribe:meals' %}">Meals</a>
      </div>
      <div class="fav-content">
        <div class="fav-item">
          <a href="{% url 'subscribe:pan' %}">
          <img src="{% static "subscribe/meals/toast.jpg" %}" alt="">
          </a>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="fav-item">
          <a href="{% url 'subscribe:peachcobbler' %}">
          <img src="{% static "subscribe/meals/cobbler.jpg" %}" alt="">
          </a>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="fav-item">
          <a href="{% url 'subscribe:berrypie' %}">
          <img src="{% static "subscribe/meals/pie.jpg" %}" alt="">
          </a>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>

      <div class="fav-header">
        <a href="{% url 'subscribe:smoothies' %}">Smoothies</a>
      </div>
      <div class="fav-content">
        <div class="fav-item">
          <img src="{% static "subscribe/smoothies/bananas.jpg" %}" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="fav-item">
          <img src="{% static "subscribe/smoothies/coconut.jpg" %}" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="fav-item">
          <img src="{% static "subscribe/smoothies/berries.jpg" %}" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>

      <div class="fav-header">
        <a href="{% url 'subscribe:cocktails' %}">Cocktails</a>
      </div>
      <div class="fav-content">
        <div class="fav-item">
          <img src="{% static "subscribe/cocktails/lime.jpg" %}" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="fav-item">
          <img src="{% static "subscribe/cocktails/lemon.jpg" %}" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="fav-item">
          <img src="{% static "subscribe/cocktails/rasberry.jpg" %}" alt="">
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
